<h1>Top 10 juego más vendidos de siempre</h1>
<table class="table table-striped mt-3">
  <thead>
      <tr>
    <td>Codigo</td>
    <td>Título</td>
    <td>Ventas</td>
    <td>Plataforma</td>
    <td>Fecha de lanzamiento</td>
    <td>Desarrolladora</td>
</tr>
  </thead>

  <tbody>
    <tr *ngFor="let dato of datos">
        <td>{{dato.codigo}}</td>
        <td>{{dato.titulo}}</td>
        <td>{{dato.ventas}}</td>
        <td>{{dato.plataforma}}</td>
        <td>{{dato.fechaLanzamiento}}</td>
        <td>{{dato.desarrollador}}</td>
      </tr>
  </tbody>
</table>
